header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 15px;
  background-color: lightsteelblue;
}

header > div {
  justify-content: flex-end;
  flex-direction: row;
  color: white;
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: auto;
  background-color: slategray;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px;
  gap: 100px;
  height: 100vh;
  grid-template-columns: 2fr 1fr;
}

#gameBoard {
  display: grid;
  grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  align-content: center;
  background-color: darkslategrey;
  border: 2px solid;
  border-radius: 8%;
  border-color: lightgrey;
  width: 500px;
  padding: 10px;
  gap: 25px;
}

#gameBoard > div {
  display: grid;
  grid-template-columns: 100px 300px;
  justify-content: center;
  align-content: center;
  padding: 20px;
  gap: 25px;
}

#gameBoard > div > .mainPegs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#gameBoard > div > .mainPegs > div {
  border-radius: 50%;
  border: 20px solid;
  color: white;
}

#gameBoard > div > .sidePegs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#gameBoard > div > .sidePegs > div {
  justify-content: end;
  gap: 5px;
  border-radius: 50%;
  border: 8px solid;
  color: white;
}

.divContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5%;
  margin: 10px;
  padding: 20px;
}

p {
  font-size: large;
  font-family: fantasy;
}

.divContainer > .selectionPegs {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  gap: 10px;
}

#redPeg {
  border-radius: 50%;
  border: 20px solid;
  color: red;
}

#yellowPeg {
  border-radius: 50%;
  border: 20px solid;
  color: yellow;
}

#bluePeg {
  border-radius: 50%;
  border: 20px solid;
  color: blue;
}

#greenPeg {
  border-radius: 50%;
  border: 20px solid;
  color: lawngreen;
}

#gameMessage {
  margin: 10px;
  padding: 20px;
}
