body {
  background-image: url("/public/images/gameBG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: crimson;
  display: grid;
  grid-template-rows: auto;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
}

#startScreen > div > div {
  border: 2px solid;
  border-color: red;
  border-radius: 10px;
}

#startScreen > div > div > div {
  background-image: var(--bs-gradient);
  border: 2px solid;
  border-color: blue;
  text-align: center;
}

h1 {
  border: 20px;
  padding: 10px;
}

h3 {
  border: 20px;
  padding: 20px;
}

#startButton {
  border: 20px;
}

#gameBoard {
  background-image: var(--bs-gradient);
  border: 2px solid;
  border-radius: 8%;
  border-color: red;
  height: fit-content;
}

#gameBoard > div {
  display: grid;
  grid-template-columns: 100px 300px;
  justify-content: center;
  align-content: center;
  padding: 15px;
  gap: 25px;
}

#gameBoard > div > .mainPegs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#gameBoard > div > .mainPegs > div {
  border-radius: 50%;
  border: 20px solid;
  color: white;
}

#gameBoard > div > .sidePegs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#gameBoard > div > .sidePegs > div {
  justify-content: end;
  gap: 5px;
  border-radius: 50%;
  border: 8px solid;
  color: white;
}

.divContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 2%;
  margin: 25px;
  padding: 20px;
}

.divContainer > .selectionPegs {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}

#redPeg {
  border-radius: 50%;
  border: 20px solid;
  color: rgb(225, 18, 15);
}

#greenPeg {
  border-radius: 50%;
  border: 20px solid;
  color: rgb(9, 169, 55);
}

#pinkPeg {
  border-radius: 50%;
  border: 20px solid;
  color: rgb(240, 150, 189);
}

#bluePeg {
  border-radius: 50%;
  border: 20px solid;
  color: rgb(24, 65, 154);
}

#yellowPeg {
  border-radius: 50%;
  border: 20px solid;
  color: rgb(248, 190, 16);
}

#orangePeg {
  border-radius: 50%;
  border: 20px solid;
  color: rgb(238, 131, 12);
}

.Buttons {
  padding: 20px;
}

.hide {
  display: none;
}
